<head>
  <title><%= title %></title>
  <link type="text/css" rel="stylesheet" href="/styles.css" />
</head>

<body>
  <div id="wrapper">
    <div id="banner">
    <h1>Apprentice News</h1>
    <link type="text/css" rel="stylesheet" href="/styles.css" />
    <div class="smallprint"><p> Submit your own link, even though anyone could find it easier with google... </p></div>
    <br>
    <br>
    <a href="/"> Home </a>

  <div id="submit_form">
    <form method="post">
      <textarea cols="40" rows="1" placeholder="link (e.g. https://www.google.com)" id="link" required name="link"></textarea><br><br>

      <textarea cols="40" rows ="8" placeholder="Description" id="description" required name="description"></textarea><br>
      <input class="form_buttons" type="submit" value="submit">
      <input class="form_buttons" type="reset" value="clear">
    </div>
  </div>
  <!---<button type="submit">Submit your link!</button>-->
  <!---<div id="submit_body">
    <form method="post">
      URL:<br>

      <input id="url_input" type="url" value="http://www." pattern="https?://.+" required name="link"/><br><br>
      Info:<br>
      <textarea cols="40" rows="8" id="info_input" type="text" name="info" ></textarea><br><br>
      <input type="submit" value="Submit">
      <input type="reset" value="Clear">
    </form>-->

</form>


</body>
