<head>
  <title>Submission</title>
  <link type="text/css" rel="stylesheet" href="/styles.css" />
</head>

<body>

  <div class="banner">
    <h1 class="under_title_link">Submission</h1>
    <h2>Thank you for your submission now, <a href="/">go home</a></h2>
  </div>



</body>
